*{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
body{
    background-image: url("/static/Materials/GK8qmsH.jpg");
    background-size:cover;
    background-position:top;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
body * {
    position: relative;
    z-index: 2;
}

.placeh{
    font-size: .8em !important;
    color: #75a8d8;
}
.placeh::after{
    font-size: 1.5em;
    color: #75a8d8;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fade-in 2s;
}
.input-group-text{
    font-weight:bolder !important;
    color: #7bbaf5 !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem !important;
    font-style: italic;
    border-color: rgba(255, 0, 0, 0) !important;
    background-color: rgba(94, 83, 255, 0) !important;
}
.container{
    padding: 2rem 0em;
    background-color:rgb(0, 0, 0,0.3);
    background-image: url("/Mater");
    background-size: cover;
    background-position: center;
    box-shadow:1px 1px 14px 16px rgba(0, 0, 0, 0.6) ;
    border-radius: 2rem;
    
}
.account{
    color: aliceblue;
}
.signup{
    color:rgb(132, 175, 255);
    font-weight: bolder !important;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: rgb(0, 162, 255) !important;
}
.btn{
    background-color: rgb(0, 0, 0,0.1) !important;
    border-color: rgb(28, 119, 172)!important;
    color: rgb(93, 173, 248) !important;
}
.btn:hover{
    background-color: rgb(131, 170, 241) !important;
    border-color: rgb(55, 0, 255) 3px !important;
    color: rgb(3, 35, 66) !important;
    box-shadow: 0 0 8px 12px rgba(21, 39, 80, 0.664);
    font-weight: 600;
}
input{
    color:rgb(255, 253, 253) !important;
    
}
.form-control{
    background-color: rgba(2, 67, 104, 0.452) !important;
    box-shadow:inset 5px 5px 10px rgba(0, 0, 0, 0.6) !important;
    border-color: rgba(0, 255, 255, 0) !important;
    border-radius: 15px !important;
}

