body {
    /* background-image:url('/static/Materials/background.webp') ; */
    font-family: 'Arial', sans-serif;
    background-color: rgb(51, 49, 49);
}
.container {
    max-width: 600px;
}
.sos-button {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.sos-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.7);
}
.countdown {
    font-size: 3rem;
    font-weight: bold;
    color: #dc3545;
}
.contact-list {
    max-height: 200px;
    overflow-y: auto;
}
.contact-item {
    background-color: #f1f3f5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.heading{
    font-size:2rem !important;
    text-shadow: #dc3545 2px 2px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color:white;
}